$col2: #109966;
$color: #105544;
$basic: 1rem;

.input-wrapper {
  font-size: $basic;
  font-family: Regular-font;
  display: flex;
  .label {
    text-align: left;
    flex-grow: 1;
    display: flex;
    margin: 0.5rem 0;
    transition: 1s;
    .input {
      overflow: visible;
      flex-grow: 1;
      //position: relative;
      font-size: $basic;
      outline: none;
      border: none;
      transition: 1s;
      margin-left: 0.5rem;
      color: $color;
      &:focus {
        color: $col2;
        border-bottom: 1px solid $col2;
      }
    }
    .err {
      border: 1px solid red;
      border-radius: 2px;
      color: red;
      &:focus, &:hover {
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }
  .parent-error {
    color: red;
    &:after {
      content: 'Error';
      color: red;
      z-index: 2;
      padding-left: 0.5rem;
      background-color: white;

    }
  }
}
