$col2: #109966;
$color: #105544;
$basic: 1rem;

.input-wrapper {
  font-size: $basic;
  font-family: Regular-font;
  display: flex;
  .label {
    text-align: left;
    flex-grow: 1;
    display: flex;
    margin: 0.5rem 0;
    .input {
      flex-grow: 1;
      font-size: $basic;
      outline: none;
      border: none;
      transition: 1s;
      margin-left: 0.5rem;
      color: $color;
      &:focus {
        color: $col2;
        border-bottom: 1px solid $col2;
      }
    }
  }
}
