$color: #105544;
$col2: #109966;
$basic: 1rem;
@mixin animated-border {
  &::before{
    content: '';
    position:absolute;
    background-image: conic-gradient(white 0%,$color 0%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 1s;
  }
  &:hover::before {
    background-image: conic-gradient(white 10%,$color 20%);
    animation: 750ms forwards ease-in-out button;
  }

  @keyframes button {
    0% {
      transform: scale(6) rotate(0deg);
      background-image: conic-gradient($color 80%, white 90%);
    }
    99% {
      transform: scale(6) rotate(360deg);
      background-image: conic-gradient($col2 80%, white 90%);
    }
    100% {
      transform: scale(6) rotate(360deg);
      background-image: conic-gradient($col2 100%, white 0%);
    }
  }
}

.fieldset-wrapper {
  overflow: hidden;
  position:relative;
  @include animated-border;
  margin: 0.5rem;
  border-radius: 3px;
  display: flex;
  align-items: stretch;
  .fieldset {
    font-size: 1.2rem;
    margin: 1px;
    border-radius: 2px;
    background-color: white;
    border-width: 0;
    padding: $basic;
    color: $color;
    transition: 1s;
    &:hover {
      color: $col2;
      input {
        color: $col2;
      }
    }
  }
}
