$color: #105544;
$basic: 1rem;

.logo {
  text-align: left;
  font-size: 2rem;
  border-radius: 2px;
  border-width: 1px;
  border-color: $color;
  border-style: solid;
  margin: $basic 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  padding: $basic $basic 0.5rem;
  .link {
    color: $color;
    &:hover {
      cursor: pointer;
    }
  }
}
