
$color: #105544;
$basic: 1rem;

.wrapper{
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  .search_wrapper{
    padding: $basic;
    border-radius: 2px;
    border-width: 1px;
    border-color: $color;
    border-style: solid;
    margin: $basic $basic 0;
    width: 1.75rem;
    transition: 1s;
    display: flex;
    flex-wrap: nowrap;
    justify-self: right;
    .input {
      outline: none;
      border: none;
      flex-grow: 1;
      width: 100%;
    }
  }
}
